.venv/
cdk.out/
__pycache__/
venv/
infra/venv/*.*


# Python / CDK
.venv/
__pycache__/
*.pyc
cdk.out/
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignorar ambientes virtuais
venv/
.venv/
env/
ENV/

# Ignorar caches do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd

# Ignorar arquivos de build
*.egg-info/
*.egg
dist/
build/